APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=Africa/Mbabane
APP_URL=http://localhost/donorconnect_enbts_rebuild
FRONTEND_URL=http://localhost:5173
API_BASE_PATH=/donorconnect_enbts_rebuild/api

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=donorconnect
DB_USER=root
DB_PASSWORD=

SESSION_NAME=donorconnect_session
SESSION_SECURE=false
SESSION_SAMESITE=Lax
SESSION_LIFETIME_MINUTES=120

NATIONAL_ID_ENCRYPTION_KEY=change_this_to_a_random_64_character_secret_for_local_development_12345
NATIONAL_ID_HASH_KEY=change_this_to_a_different_random_64_character_secret_for_local_dev_123
APP_KEY=change_this_to_another_random_64_character_secret_for_local_development

SMS_DRIVER=log
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=

SETUP_TOKEN=change_this_setup_token
